<nz-modal (nzVisible)="toogleVisible($event)"
          [nzVisible]="visible$ | async"
          [nzOkDisabled]="formGroup.invalid"
          nzTitle="ajouter un nouveau bien"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="formGroup" class="create-owner-modal-form-content">
      <nz-select class="select" formControlName="_owner">
        <ng-container *ngFor="let owner of owners$ | async">
          <nz-option [nzValue]="owner.id" [nzLabel]="owner._name"></nz-option>
        </ng-container>
      </nz-select>
      <input formControlName="_street" nz-input placeholder="Adresse (numéro et rue)"/>
      <input formControlName="_city" nz-input placeholder="Ville (numéro et rue)"/>
      <input formControlName="_zip" nz-input placeholder="Code Postal"/>
      <input formControlName="_rent" type="number" nz-input placeholder="Loyer (hors charges)"/>
      <input formControlName="_charges" type="number" nz-input placeholder="charges"/>
    </form>
  </ng-container>
</nz-modal>
