@import "../../../../styles/themes/mixin";

.modal-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.modal-card-item{
  max-width: 100px;
  background-color: @blue-10;
}
.select{
  min-width: 200px;
}
