<create-lodger-popup></create-lodger-popup>
@if(loading$ | async){
<nz-spin nzSimple></nz-spin>
}@else{
<div class="table-container">
  <div class="table-header">
    <button nz-button nzType="default" (click)="createLodger()">ajouter un locataire</button>
  </div>

  @if(lodgers$ | async; as lodgers){
  <nz-table #tables [nzData]="lodgers" [nzPageSize]="7">
    <thead>
      <tr>
        <th>Nom</th>
        <!-- <th>adresse</th> -->
        <th style="width: 30px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of tables.data">
        <td>{{owner._name}}</td>
        <!-- <td>{{owner.address}}</td> -->
        <td class="error clickable" (click)="deleteLodger(owner)">supprimer</td>
      </tr>
    </tbody>
  </nz-table>
  }
</div>
}
