<nz-layout class="layout">
  <nz-header class="header">

    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">

      <div class="logo">
      </div>

      <li nz-menu-item [routerLink]="['owners']">Propriétaires</li>
      <li nz-menu-item [routerLink]="['estates']">Biens</li>

    </ul>
    <ng-container *ngIf="authenticator.user">
      <amplify-authenticator>
        <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
          <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-login">
            <li nz-menu-item (click)="signOut()">Sign Out</li>
          </ul>
        </ng-template>
      </amplify-authenticator>
    </ng-container>

  </nz-header>

  <nz-content class="inner-content">
    <ng-container *ngIf="!authenticator.user">
      <amplify-authenticator>
        <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
          <button (click)="signOut()">Sign Out</button>
        </ng-template>
      </amplify-authenticator>
    </ng-container>
    <router-outlet></router-outlet>

    <ng-container *ngIf="authenticator.user">
    </ng-container>
  </nz-content>
  
</nz-layout>