@if(loading$ | async){
<nz-spin nzSimple></nz-spin>
}@else{
<div class="estates-container">
  @if(estates$ | async; as estates){
  <nz-table #tables [nzData]="estates">
    <thead>
      <tr>
        <th>propriétare</th>
        <th>adresse</th>
        <th>lot</th>
        <th>loyer</th>
        <th>charges</th>
        <th>locataire</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estate of tables.data">
        <td>{{estate.owner?._name}}</td>
        <td>{{estate.address}}</td>
        <td>{{estate._parcel}}</td>
        <td>{{estate._rent}}</td>
        <td>{{estate._charges}}</td>
        <td nz-dropdown [nzDropdownMenu]="menuLodgers">{{estate.lodger?._name}}</td>
        <td nz-dropdown [nzDropdownMenu]="menuActions">
          action
          <!-- <button nz-button nzType="primary" nzSize="small" (click)="editEstate(estate)">Edit</button>
                        <button nz-button nzType="danger" nzSize="small" (click)="deleteEstate(estate)">Delete</button> -->
        </td>

        <nz-dropdown-menu #menuLodgers="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <ng-container *ngFor="let lodger of lodgers$ | async">
              <li nz-menu-item (click)="setLodger(estate, lodger)">{{lodger._name}}</li>
            </ng-container>
          </ul>
        </nz-dropdown-menu>

        <nz-dropdown-menu #menuActions="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="createRentReceipt(estate)">créer une quittance</li>
            <li nz-menu-item (click)="deleteEstate(estate)">supprimer</li>
          </ul>
        </nz-dropdown-menu>



      </tr>
    </tbody>
  </nz-table>
  }
</div>
}
<create-estate-popup></create-estate-popup>
<set-lodger-popup></set-lodger-popup>
<button nz-button nzType="primary" (click)="createEstate()">create estate</button>
